
CineTEC.API/NetCoreAPIPostgreSQL/bin/

CineTEC.API/NetCoreAPIPostgreSQL/.vs/

CineTEC.API/NetCoreAPIPostgreSQL.Model/obj/

CineTEC.API/NetCoreAPIPostgreSQL.Data/obj/

CineTEC.API/NetCoreAPIPostgreSQL/obj/


CineTec/CineTec/bin/
CineTec/CineTec/.vs/
CineTec/CineTec/obj/

