/* centered columns styles */
.row-centered {
    text-align:center;
    }
    .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:100px;
    margin-left:100px;

    margin-top:50px;
    margin-bottom:30px;
}