<div class="wrapper" style=" background-image: linear-gradient(#03022C, black);">
    <div class="carousel-cont">
        <div id="carousel">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/avatar.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/rogue.jpg" alt="Random second slide">
                                <div class="carousel-caption">
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/lotr.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="container">
                <div class="tim-title text-primary">
                    <h1>Películas en Cartelera</h1>
                </div>
            </div>
            <div class="container">
                <div class="tim-title text-white">
                    <h4>Ingresá a sucursales para comprar tus tiquetes</h4>
                </div>
            </div>
            <div class="row-centered">
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
            </div>
            <div class="row-centered">
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
            </div>
            <div class="row-centered">    
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
                <div class="col-centered">
                    <img src="assets/img/1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    <p class="text-center text-white">Tarantino</p>
                </div>
            </div>
</div>
