<div class="wrapper" style=" background-image: linear-gradient(#03022C, black);">


    <h1 class="text-white">Sistema de Gestión de Proyecciones</h1>


    <div class="left-container">


        <app-button class = "add-button" *ngIf = "!showEditItem"
            color="{{ showAddItem ? '#DEE2D6' : '#FCB07E'}}"
            text="{{ showAddItem ? 'Cerrar' : 'Agregar'}}" 
            (btnClick) = "toggleAddItem()">
        </app-button>

        <app-button *ngIf = "showEditItem" class = "deleteButton"
        color="red"
        text="Eliminar" 
        (btnClick) = "deleteItem()"
        >
        </app-button>

        <app-button *ngIf = "showEditItem" 
        color="#DEE2D6"
        text="Cancelar" 
        (btnClick) = "cancelEditItem()"
        >
        </app-button>


        <app-add-item
            url = {{url}}
            (onAddItem)="add_item($event)"
            (onEditItem)="edit_item($event)">
        </app-add-item>


        

    </div>

    <app-item-holder [items]= "items"></app-item-holder>


</div>