<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{nombre}}<br /></h4>
                    <h6 class="description">Cédula: {{cedula}} </h6>
                    <h6 class="description">Fecha de nacimiento: {{b_date}} </h6>
                    <h6 class="description">Edad: {{edad}} </h6>
                    <h6 class="description">Número de teléfono: {{telefono}} </h6>
                    <h6 class="description">Username: {{username}} </h6>
                    <h6 class="description">Contraseña: {{password}} </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Mido un metro ochenta y uno,
                        tengo un sillón azul.
                        En mi cuarto hay un baúl.
                        Y me gusta el almendrado.
                        Me despierto alunado.
                        Mi madre es medio terca.
                        Aunque nunca estuve preso, anduve cerca.
                        Soy de Aries, pelo castaño
                        algo tacaño y no colecciono nada.
                        Guardo la ropa ordenada.
                        Me aburro en nochebuena.
                        Si estornudo no hago ruido.Y no hablo con la boca llena</p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Ajustes</button>
                </div>
            </div>
            <br/>
            
        </div>
    </div>
</div>
