<div class="modal-header">
    <h2 class="modal-title text-center text-primary">Detalles de compra</h2>
</div>
<div class="modal-body"> 
    <h3>Sucursal: {{location}}</h3>
    <h3>Película: {{movie}}</h3>
    <h4>Sala: {{room}}</h4>
    <h4>Numeros de Asiento: {{seats}}</h4>
    <hr>
    <h4>Subtotal: ₡{{subtotal}}</h4>
    <h3>Total (*IVA): ₡{{total}}</h3>
</div>
<div class="modal-footer">
    <div class="left-side">
        <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">Cancelar orden</button>
    </div>
    <div class="divider"></div>
    <div class="right-side">
        <button  type="button" class="btn btn-primary btn-link" (click)="activeModal.close('Close click') ;confirmed() ">CONFIMAR COMPRA</button>
    </div>
</div>