.btn{
    margin: 10px;
    height: 45px;
    width: 45px;
    text-align: center;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    color: transparent;
    background-color: transparent;
    
  }