
<form class="form-group" *ngIf="showAddItem" (ngSubmit)="onSubmit()">

    <!--BRANCHES-->
    <div *ngIf='url == "/branches"' class="form-group">
        <label for="cinema_name"></label>
        <input
            [disabled]="showEditItem"
            type="text"
            name="cinema_name"
            [(ngModel)]="cinema_name"
            id="cinema_name"
            placeholder="Nombre de la sucursal"
        >
    </div>
    <div *ngIf='url == "/branches"' class="form-group">
        <label for="province"></label>
        <input
            type="text"
            name="pronvince"
            [(ngModel)]="province"
            id="pronvince"
            placeholder="Provincia"
        >
    </div>
   
    <div *ngIf='url == "/branches"' class="form-group">
        <label for="district"></label>
        <input
            type="text"
            name="district"
            [(ngModel)]="district"
            id="district"
            placeholder="Districto"
        >
    </div>





    <!--CLIENTS AND EMPLOYEES-->

    <div *ngIf = 'url == "/employees"'>
            <form >

            
            <label class="label-selected" class="label-selected">Seleccione una sucursal : </label>
            <select [(ngModel)] = "branch_id" name="branch_id" class="form-group" >

                <option *ngFor="let branch of branches" [value] = "branch.cinema_name"> {{branch.cinema_name}}</option>
    
    
            </select>


        </form>

    </div>


    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="cedula"></label>
        <input
            [disabled] = "showEditItem"
            type="number"
            name="cedula"
            [(ngModel)]="cedula"
            id="cedula"
            placeholder="cedula"
        >
    </div>

    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="first_name"></label>
        <input
            type="text"
            name="branch_name"
            [(ngModel)]="first_name"
            id="first_name"
            placeholder="Primer nombre"
        >
    </div>
    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="middle_name"></label>
        <input
            type="text"
            name="middle_name"
            [(ngModel)]="middle_name"
            id="middle_name"
            placeholder="Segundo Nombre"
        >
    </div>
   
    <div *ngIf= 'url == "/clients" || url == "/employees"' class="form-group">
        <label for="first_surname"></label>
        <input
            type="text"
            name="first_surname"
            [(ngModel)]="first_surname"
            id="first_surname"
            placeholder="Pirmer apellido"
        >
    </div>

    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="second_surname"></label>
        <input
            type="text"
            name="second_surname"
            [(ngModel)]="second_surname"
            id="second_surname"
            placeholder="Segundo apellido"
        >
    </div>


    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="birth_date"></label>
        <input
            type="date"
            name="birth_date"
            [(ngModel)]="birth_date"
            id="birth_date"
            placeholder="Fecha de nacimiento"
        >
    </div>

    <div *ngIf='url == "/employees"' class="form-group">
        <label for="start_date"></label>
        <input
            type="date"
            name="string"
            [(ngModel)]="start_date"
            id="start_date"
            placeholder="Fecha de inicio en CineTEC"
        >
    </div>

    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="phone_number"></label>
        <input
            type="text"
            name="number"
            [(ngModel)]="phone_number"
            id="phone_number"
            placeholder="Numero de telefono"
        >
    </div>


    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="username"></label>
        <input
            type="text"
            name="username"
            [(ngModel)]="username"
            id="username"
            placeholder="Usuario"
        >
    </div>


    <div *ngIf='url == "/clients" || url == "/employees"' class="form-group">
        <label for="password"></label>
        <input
            type="text"
            name="password"
            [(ngModel)]="password"
            id="password"
            placeholder="Contraseña"
        >
    </div>



    <!--SALAS-->

    
    <div *ngIf = 'url == "/rooms"'>
        <form >

        
        <label class="label-selected" class="label-selected">Seleccione una sucursal : </label>
            <select [(ngModel)] = "branch_name" name="branch_name" class="form-group" [disabled]="showEditItem" >

                <option *ngFor="let branch of branches" [value] = "branch.cinema_name"> {{branch.cinema_name}}</option>


            </select>


        </form>

    </div>




    <div *ngIf='url == "/rooms"' class="form-group">
        <label for="row_quantity"></label>
        <input
            type="number"
            name="row_quantity"
            [(ngModel)]="row_quantity"
            id="row_quantity"
            placeholder="Cantidad de filas"
        >
    </div>


    <div *ngIf='url == "/rooms" ' class="form-group">
        <label for="column_quantity"></label>
        <input
            type="number"
            name="column_quantity"
            [(ngModel)]="column_quantity"
            id="column_quantity"
            placeholder="Cantidad de columnas"
        >
    </div>




    <!--MOVIES-->

    <div *ngIf='url == "/movies"' class="form-group">
        <label for="name"></label>
        <input
            type="text"
            name="name"
            [(ngModel)]="name"
            id="name"
            placeholder="Nombre de la pelicula"
        >
    </div>

    <div *ngIf='url == "/movies" ' class="form-group">
        <label for="original_name"></label>
        <input
            type="text"
            name="original_name"
            [(ngModel)]="original_name"
            id="original_name"
            placeholder="Nombre original"
        >
    </div>

    <div *ngIf='url == "/movies" ' class="form-group">
        <label for="lenght"></label>
        <input
            type="text"
            name="lenght"
            [(ngModel)]="length"
            id="lenght"
            placeholder="Duracion"
        >
    </div>


    <div *ngIf='url == "/movies" ' class="form-group">
        <label for="director"></label>
        <input
            type="text"
            name="director"
            [(ngModel)]="director"
            id="director"
            placeholder="Director de la pelicula"
        >
    </div>


    <div *ngIf='url == "/movies" ' class="form-group">
        <label for="actors"></label>
        <input
            type="text"
            name="actors"
            [(ngModel)]="actorEntered"
            id="actors"
            placeholder="Actores"
        >
       
    </div>

    <div *ngIf='url == "/movies"' class="form-group">
        <label class="text-white" style="font-weight: bold; font-size: 20; margin-right: 10px;">Actores  agregados </label>
        <select [(ngModel)] = "actorSelected" name="actorSelected" class="form-select" >
            <option *ngFor="let actor of actors" [value] = "actor"> {{actor}}</option>
        </select>
    </div>


    <div *ngIf='url == "/movies"' class="form-group">
        <label class="text-white" style="font-weight: bold; font-size: 20; margin-right: 10px;">Actores registrados </label>
        <select [(ngModel)] = "actorEntered" name="actorSelected" class="form-select" >
            <option *ngFor="let actor of actorsDB" [value] = "actor.name" > {{actor.name}}</option>
        </select>
    </div>



    <div *ngIf='url== "/movies"' class="form-group" >
        <button 
        type="button"
        style="float: right;"
        [ngStyle]="{'background-color':'green'}" 
        class="btn" 
        (click)="addActor()"
                > Agregar actor</button>

    <button 
        type="button"
        style="float: left;"
        [ngStyle]="{'background-color':'red'}" 
        class="btn" 
        (click)="deleteActor()"
        > Eliminar actor</button>

        <br>
    

    </div>



    <div *ngIf='url == "/movies"'>
        
        <form class="form-group" >
            <label class="label-selected" class="label-selected">Seleccione una clasificacion: </label>
            <select [(ngModel)] = "classification_id" name="classfication" >

                <option *ngFor="let classification_ of classfications" [value] = "classification_"> {{classification_}}</option>
    
            </select>
        </form>

    </div>


    <!--PROJECTIONS-->

    


    <div *ngIf='url == "/projections"'>

        <form >

            
            <label class="label-selected" class="label-selected">Seleccione una pelicula: </label>
            <select [(ngModel)] = "movie_name" name="movie" class="form-group" >

                <option *ngFor="let movie of movies_list" [value] = "movie.name"> {{movie.name}}</option>
    
    
            </select>


        </form>

    </div>

    <div *ngIf='url == "/projections" ' class="form-group">
        <label for="date"></label>
        <input
            type="date"
            name="date"
            [(ngModel)]="date"
            id="date"
            placeholder="Fecha"
        >
    </div>


    <div *ngIf='url == "/projections" ' class="form-group">
        <label for="time"></label>
        <input
            type="time"
            name="time"
            [(ngModel)]="schedule"
            id="time"
            placeholder="Hora"
        >
    </div>


   <div  *ngIf='url == "/projections" ' class="form-group">
    <form >

            
        <label class="label-selected" class="label-selected">Sucursal: </label>
        <select [(ngModel)]="branch_selected_projection" (change)="update_rooms()"  name="branch_projection" class="form-group" >

            <option *ngFor="let branch of branches" [value] = "branch.cinema_name"> {{branch.cinema_name}}</option>


        </select>


        <label class="label-selected" class="label-selected" style="margin-left: 30px;">Sala: </label>
        <select [(ngModel)] = "room_id"  name="room_projection" class="form-group" >

            <option *ngFor="let room of rooms_list" [ngValue] = "room.id"> {{room.id}}</option>


        </select>


    </form>

   </div>

   <div *ngIf='url == "/projections"'>


        <label class="label-selected" class="label-selected" style="margin-left: 30px;">Restriccion COVID </label>
         <select [(ngModel)] = "covid"  name="covid" class="drop-down-primary" [disabled] ="showEditItem">

            <option *ngFor="let porcentage of covidPorcentages" [ngValue] = "porcentage"> {{porcentage}} </option>


        </select>





    </div>







    <br>

    <input type="submit" value="Enviar a la base de datos" class="btn btn-block">
</form>


