<div class="item">


    
    <app-button
        color="orange"
        text="Editar" 
        (btnClick) = "onEdit(item)"
        >
    </app-button>



    <!-- Branch-->
    <label *ngIf="in_branches">Sucursal: {{item.cinema_name}}</label>
    <br *ngIf="in_branches">
    <label *ngIf="in_branches">Provincia: {{item.province}}</label>
    <br *ngIf="in_branches">
    <label *ngIf="in_branches">Districto: {{item.district}}</label>
    <br *ngIf="in_branches">
    <label *ngIf="in_branches">Cantidad de salas: {{item.room_quantity}}</label>
    <br *ngIf="in_branches">


    <!--Client and Employeee-->
    <label *ngIf="in_clients || in_employees">Primer nombre : {{item.first_name}}</label>
    <br *ngIf="in_clients || in_employees">
    <label *ngIf="in_clients || in_employees">Primer apellido : {{item.first_surname}}</label>
    <br *ngIf="in_clients || in_employees">
    <label *ngIf="in_clients || in_employees">Segundo apellido : {{item.second_surname}}</label>
    <br *ngIf="in_clients || in_employees">
    <label *ngIf="in_clients || in_employees">Fecha de nacimiento : {{item.birth_date}}</label>
    <br *ngIf="in_clients || in_employees">
    <label *ngIf="in_clients || in_employees">Telefono : {{item.phone_number}}</label>
    <br *ngIf="in_clients || in_employees">
    <label *ngIf="in_clients || in_employees">Username : {{item.username}}</label>
    <br *ngIf="in_clients || in_employees">
    <label *ngIf="in_clients || in_employees">Contraseña : {{item.password}}</label>
    <br *ngIf="in_clients || in_employees">


    <!--Movies-->
    <label *ngIf="in_movies">Nombre: {{item.name}}</label>
    <br *ngIf="in_movies">
    <label *ngIf="in_movies">Nombre original: {{item.original_name}}</label>
    <br *ngIf="in_movies">
    <label *ngIf="in_movies">Durancion: {{item.length}}</label>
    <br *ngIf="in_movies">
    <label *ngIf="in_movies"> Director: {{item.director}}</label>
    <br *ngIf="in_movies">
    <label *ngIf="in_movies">Protagonista: {{item.actors}}</label>
    <br *ngIf="in_movies">


    <!--Rooms-->
    <label *ngIf="in_rooms"> Columnas {{item.column_quantity}}</label>
    <br *ngIf="in_rooms">
    <label *ngIf="in_rooms"> Filas: {{item.row_quantity}}</label>
    <br *ngIf="in_rooms">
    <label *ngIf="in_rooms"> Capacidad: {{item.capacity}}</label>
    <br *ngIf="in_rooms">


    <!--Projection-->
    <label *ngIf="in_projections">Pelicula: {{item.movie}}</label>
    <br *ngIf="in_projections">
    <label *ngIf="in_projections">Fecha: {{item.date}}</label>
    <br *ngIf="in_projections">
    <label *ngIf="in_projections">Hora: {{item.time}}</label>
    <br *ngIf="in_projections"> 
    <label *ngIf="in_projections">Sala: {{item.room}}</label>
    <br *ngIf="in_projections"> 





    

    
    
</div>