.row{
    margin-top: 45px;
}

.btn{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.img-thumbnail{
    margin-top: 0px;
}

.container{
    padding-left: 25px;
}

.info{
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}